@import 'variables.css';
@import 'base.css';
@import 'media-queries.css';
@import 'style2.css';


html{
    font-size:62.5%;scroll-behavior:smooth
}
body{
    font-size:1.6rem;font-family:"Baloo Tamma 2",sans-serif;background:#232323;color:#eee
}
ul{
    list-style:none
}
a{
    text-decoration:none
}
.container{
    max-width:110rem;margin:0 auto;padding:0 2rem
}
.social-icons{
    position:fixed;z-index:1000;top:15vh
}
.social-icons .social{
    cursor:pointer;width:12rem;position:absolute;left:-10rem;display:flex;align-items:center;justify-content:space-between;gap:2rem;color:#fff;padding:1rem 2rem;border-top-right-radius:5rem;border-bottom-right-radius:5rem;transition:all .3s ease
}
.social-icons .social i{
    font-size:2.5rem
}
.social-icons 
.social:hover{
    left:0
}
.social-icons .twitter{
    background:#209AE9
}.social-icons .facebook{
    background:#405E92;top:5rem
}
.social-icons .instagram{
    background:#DE4277;top:10rem
}
    


h1 {
   margin-left: 4rem;
   color: red;
}

.banniere {
    width: 9rem;
}

.content-banner{
    position: relative;

}

img {
    filter: brightness(30%);
    position: absolute;
    height: 25rem;
    width: 100%;

}

ul {
    list-style: none;
    
}

.release {
    padding-right: 10%;
}

.movies {
    padding-left: 10%;
    padding-right: 10%;
}

.review-movies{
    padding-right: 20%;
}

footer {
    background-color: black;
    color: white;

}

.newsletter{
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
}

.input {
    display: flex;
    margin-right: 1rem;
}

.menu-footer{
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    width: 70%;
    
}

.menu-footer h3 {
    border-bottom: 1px white solid;
    font-size: 1rem;
}

.social-media{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 8rem;
}

.btn-social-media {
    display : flex;
    
}

i {
    padding: 1rem;
}
  











