@import 'variables.css';
@import 'base.css';
@import 'media-queries.css';
@import 'style2.css';

body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

h1 {
   margin-left: 4rem;
   color: red;
}

.banniere {
    width: 9rem;
}

.content-banner{
    position: relative;

}

img {
    filter: brightness(30%);
    position: absolute;
    height: 25rem;
    width: 100%;

}





